.feynman {
    margin: 0 0 0 0;
    min-height: 890px;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 0;
    padding-top: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: #f2f2f2;
   /* border: 1px red solid;*/
  }

  .feynman__title {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    /*border: 1px red solid;*/
  }

  .feynman__subtitle {
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .feynman__link {
    position: absolute;
    color: #2f80ed;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
  }

  .feynman__place {
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
