.footer {
    margin: 0 0 0 0;
    display: flex;
    min-height: 350px;
    padding-bottom: 40px;
    background-color: black;
    }
    .footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 250px;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    color: white;
    }

    .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 711px;
    }

    .footer__column_content_info {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    }

    .footer__column_content_social{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    }

    .logo__place_footer {
    width: 228px;
    height: 32px;
    }

    .footer__author {
    margin: 0 0 0 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 18px;
    }

    .footer__column-heading {
    margin: 0 0 0 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    }

    .footer__column-links {
    margin: 0 0 0 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    }

    .footer__social-icon {
    color: white;
    }

    .footer__column-link {
    margin: 0 0 0 0;
    color: white;
    text-decoration: none;
    }
